.clear {
  clear: both;
}

#battle_canvas {
  position: fixed;
  /*border: 1px solid;*/
  border-color: green;
  height: 200px;
  width: 600px;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

h2 {
  font-size: 14px;
}

.battle {
  font: 14px/1 monospace;
  background-color: #fff;
  width: 600px;
  padding: 30px 30px 10px;
  margin: 200px auto;
}

.enemy {
  margin-bottom: 30px;
  /* -webkit-animation-iteration-count: infinite; */
}

.you {
  margin-bottom: 20px;
  /* -webkit-animation-iteration-count: infinite; */
}

.enemy .image, .you .info-box {
  float: right;
}

.enemy .info-box, .you .image {
  float: left;
}

.info-box {
  border-radius: 10px 3px 10px 3px;
  border: 3px solid #ccc;
  width: 280px;
  padding: 10px;
}

.info-box h2 {
  float: left;
  font-weight: normal;
  text-transform: uppercase;
}

.level {
  float: right;
  font-size: 14px;
}

/* health */
.health_bar {
  float: right;
  display: inline-block;
  border: 2px solid #ccc;
  margin-top: 10px;
  width: 200px;
  line-height: 10px;
  border-radius: 20px;
  overflow: hidden;
}

.inner-bar, h6 {
  float: left;
}

h6 {
  font-size: 12px;
  font-weight: bold;
  width: 30px;
  text-align: center;
}

.inner-bar {
  background-color: #66FF66;
  border-radius: inherit;
  width: 170px;
  height: 10px;
}

h4 {
  padding-top: 20px;
  margin-bottom: 20px;
}

/* profiles */
.profile {
  color: #777;
  margin-bottom: 30px;
}

.profile img {
  margin-bottom: 10px;
}

.act {
  line-height: 14px;
  padding: 30px 0;
  cursor: pointer;
}

.act h2 {
  font-size: 20px;
  line-height: 14px;
  float: left;
}

/* attack btns */
.actions {
  float: right;
}

.actions li {
  list-style: none;
  display: inline;
}

.actions li a {
  background-color: #777;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  margin: 0 5px;
  padding: 10px;
  text-decoration: none;
}
